/*
Al agregar estilos, se acomoda por temas.

1. Posicionamiento (static, absolute, relative, fixed)
2. Modelo de caja(Box model, marging, padding, with, hight)
3. Tipografía(tipos, tamaños de fuente, etc)
4. Temas visuales (shadow box, radius)
5. Otros (reclas CSS y más)
*/

:root{
  --off-cyan:#233946;
  --off-gray: #4B6777;
  --soft-cyan: #CEEBEC;
  --cyan: #03989E;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-width: 320px;
  min-height: 450px;
  background-color: var(--off-cyan);
}

.header--foto-container {
  width: 100%;
}

.header--foto-container img {
  width: 100%;
}

.header--idiomas-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}

.header--idiomas-container p {
  text-align: right;
  width: 95%;
  font-size: 1.2rem;
}

.header--idiomas-container a{
  color: var(--soft-cyan);
  text-decoration: none;
}

.header--idiomas-container a::after{
  padding: 0 5px;
  content: "  |  ";
}

.header--idiomas-container a:hover{
  color: var(--cyan);
  font-weight: bold;
}
.header--idiomas-container a:active{
  color: var(--soft-cyan);
  font-weight: bold;
}

.header--logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 112px;
}

.header--logo-container img{
  width: 30%;
  min-width: 112px;
  max-width: 166px;
}

.header--navigator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.header--navigator-container ol {
  list-style: none;
  display: flex;
}

.header--navigator-container a {
  color: var(--soft-cyan);
  text-decoration: none;
  font-size: 1.2rem;
}

.header--navigator-container a:hover{
  font-weight: bold;
}

.header--navigator-container a:active{
  color: var(--cyan);
  font-weight: bold;
}

.header--navigator-container a::after{
  padding: 0 2px;
  content: "  |  ";
}

.header--presentacion-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: var(--cyan);
}

.header--presentacion-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}

.header--presentacion-foto img {
  margin: 15px 0;
  width: 70%;
  min-width: 100px;
  max-width: 150px;
  border-radius: 70px;
}

.header--presentacion-texto-boton {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.presentacion-text {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
  height: 70%;
  font-size: 1.3rem;
  color: var(--soft-cyan);
}

.presentacion-text p {
  text-align: left;
  width: 80%;
}

.presentacion-button {
  display: flex;
  justify-content: right;
  align-items: flex-start;
  height: 30%;
}

.presentacion-button button{
  padding: 1px 10px;
  margin: 5px 12px 0 0;
  color: var(--off-cyan);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 70px;
  box-shadow: 0px 4px 4px var(--off-cyan);
}

.under-construction {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cyan);
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.makelove {
  color: var(--cyan);
  font-size: 1.5rem;
  font-weight: bold;

}
