/*
Al agregar estilos, se acomoda por temas.

1. Posicionamiento (static, absolute, relative, fixed)
2. Modelo de caja(Box model, marging, padding, with, hight)
3. Tipografía(tipos, tamaños de fuente, etc)
4. Temas visuales (shadow box, radius)
5. Otros (reclas CSS y más)
*/

:root{
  --off-cyan:#233946;
  --off-gray: #4B6777;
  --soft-cyan: #CEEBEC;
  --cyan: #03989E;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  min-width: 320px;
  min-height: 450px;
  background-color: var(--off-cyan);
}

.header--foto-container {
  width: 100%;
}

.header--foto-container img {
  width: 100%;
}

.header--idiomas-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30px;
}

.header--idiomas-container p {
  text-align: right;
  width: 95%;
  font-size: 1.2rem;
}

.header--idiomas-container a{
  color: var(--soft-cyan);
  text-decoration: none;
}

.header--idiomas-container a::after{
  padding: 0 5px;
  content: "  |  ";
}

.header--idiomas-container a:hover{
  color: var(--cyan);
  font-weight: bold;
}
.header--idiomas-container a:active{
  color: var(--soft-cyan);
  font-weight: bold;
}

.header--logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 112px;
}

.header--logo-container img{
  width: 30%;
  min-width: 112px;
  max-width: 166px;
}

.header--navigator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 30px;
}

.header--navigator-container ol {
  list-style: none;
  display: flex;
}

.header--navigator-container a {
  color: var(--soft-cyan);
  text-decoration: none;
  font-size: 1.2rem;
}

.header--navigator-container a:hover{
  font-weight: bold;
}

.header--navigator-container a:active{
  color: var(--cyan);
  font-weight: bold;
}

.header--navigator-container a::after{
  padding: 0 2px;
  content: "  |  ";
}

.header--presentacion-container {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 150px;
  background-color: var(--cyan);
}

.header--presentacion-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
}

.header--presentacion-foto img {
  margin: 15px 0;
  width: 70%;
  min-width: 100px;
  max-width: 150px;
  border-radius: 70px;
}

.header--presentacion-texto-boton {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.presentacion-text {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  width: 100%;
  height: 70%;
  font-size: 1.3rem;
  color: var(--soft-cyan);
}

.presentacion-text p {
  text-align: left;
  width: 80%;
}

.presentacion-button {
  display: flex;
  height: 30%;
}

.text-box{
  width: 100%;
  font-weight: bold;
  font-size: 1.1rem;
  justify-content: right;
  align-items: flex-start;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px var(--off-cyan);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background-color: var(--soft-cyan);
  color: var(--off-cyan);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: var(--soft-cyan);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/*.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}
*/

.main--summary-detail {
  width: 100%;
  min-width: 320px;
  min-height: 300px;
  background-color: var(--off-cyan);
  color: var(--soft-cyan);
}

.summary-detail--title {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  min-width: 288px;
  height: 50px;
}

.summary-detail--title h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--soft-cyan);
}

.detail-cards--container {
  display: flex;
  align-items: center;
  min-height: 350px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.summary-detail--card {
  position:relative;
  scroll-snap-align: center;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 250px;
  max-width: 280px;
  min-height: 280px;
  margin:0 15px;
  padding: 0 5px;
  background-color: var(--off-gray);
  border-radius:15px;
}

.summary-title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.8rem;
  padding: 10px 0;
}

.summary-time, .resumen-list {
  font-size:1.3rem;
  font-weight: 300;
}

.summary-time{
  text-align: center;
}

.resumen-list{
  max-width: 80%;
  line-height: 2rem;
  padding: 10px 0;

}
.fa-medal {
  color: var(--cyan);
  font-size: 40px;
}

.fa-university{
  color: var(--cyan);
  font-size: 40px;
}

.fa-gem {
  color: var(--cyan);
  font-size: 40px;
}

.summary-detail--card span {
  margin: 25px 0 0 5px
}

.under-construction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--cyan);
}

.under-construction img {
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
}

.makelove {
  padding-right: 20px;
}

.makelove p {
  display: inline-block;
  color: var(--cyan);
  font-size: 1.2rem;
  font-weight: bold;
}

.fa-heart {
  color: var(--cyan);
}